<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" th:href="@{/resources/styles.css}">
    <script th:src="@{/resources/script.js}"></script>

    <title>Vegetable List</title>
</head>
<body>

<footer th:fragment="footer">
    &copy; 2024 Duc Le
</footer>
</body>
</html>